{% extends '../base.html' %}
{% load static %}
{% block content %}
<div class="card mb-3">
  <div class="card-body">
    <div class="row justify-content-between align-items-center">
      <div class="col-md">
        <h5 class="mb-2 mb-md-0">N° # {{data.number}}</h5>
      </div>
      <div class="col-auto">
        <a href="{% url 'Get_List_Invoice' request.session.type_document %}" class="btn btn-falcon-default btn-sm me-1 mb-2 mb-sm-0" type="button">
          <span class="fas fa-arrow-left me-1"> </span>Lista de facturas
        </a>
        
        <a href="https://catalogo-vpfe.dian.gov.co/document/searchqr?documentkey={{data.cufe}}" target="_blank" class="btn btn-falcon-default btn-sm me-1 mb-2 mb-sm-0" type="button" id="downloadPdfButton">
          <span class="fas fa-arrow-down me-1"> </span>PDF DIAN
        </a>
        <!-- <a href="{% url 'GetPDF' data.pk_invoice %}" target="_blank" class="btn btn-falcon-default btn-sm me-1 mb-2 mb-sm-0" type="button" id="downloadPdfButton">
          <span class="fas fa-arrow-down me-1"> </span>Download (.pdf)
        </a> -->
        <button class="btn btn-falcon-default btn-sm me-1 mb-2 mb-sm-0 copy_invoice" id="{{data.pk_invoice}}" type="button"><span class="fas fa-print me-1"> </span></button>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3">
  <div class="card-body">
    <div class="row align-items-center text-center mb-3">
      <div class="col-sm-6 text-sm-start"><img src="{{request.session.logo}}" alt="invoice" width="150" /></div>
      <div class="col text-sm-end mt-3 mt-sm-0">
        <h2 class="mb-3">
          {% if request.session.type_document == '1' %}
            Factura Electrónica
          {% elif request.session.type_document == '2' %}
            Factura Electrónica
          {% elif request.session.type_document == '11' %}
            Documento Soporte
          {% endif %}
        </h2>
        <h5>{{data.branch.name|title}}</h5>
        <p class="fs--1 mb-0">
          Dirección: {{data.branch.address}}<br>
          E-mail: {{data.branch.email}}<br>
          Teléfono: {{data.branch.phone}}
        </p>
      </div>
      <div class="col-12">
        <hr />
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col">
        <h6 class="text-500">Facturar a</h6>
        <h5>{{data.customer.name}}</h5>
        <p class="fs--1">{{data.customer.address}}</p>
        <p class="fs--1"><a href="mailto:{{client.email}}">{{data.customer.email}}</a><br /><a href="tel:{{data.customer.phone}}">{{data.customer.phone}}</a></p>
      </div>
      <div class="col-sm-auto ms-auto">
        <div class="table-responsive">
          <table class="table table-sm table-borderless fs--1">
            <tbody>
              <tr>
                <th class="text-sm-end">Factura No:</th>
                <td>{{data.number}}</td>
              </tr>
              <tr>
                <th class="text-sm-end">Metodo de pago:</th>
                <td>{% if data.payment_form.payment_form == 1 %}Efectivo{% else %}Crédito{% endif %}</td>
              </tr>
              <tr>
                <th class="text-sm-end">Fecha Factura:</th>
                <td>{{data.date}}</td>
              </tr>
              <tr>
                <th class="text-sm-end">Fecha de pago:</th>
                <td>{{data.payment_form.payment_due_date}}</td>
              </tr>
              <tr>
                <th class="text-sm-end">Estado de la factura:</th>
                <td class="text-dark">{{data.state}}</td>
              </tr>
              <tr class="alert-success fw-bold">
                <th class="text-sm-end">Monto adeudado:</th>
                <td>${{data.total}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="table-responsive scrollbar mt-4 fs--1">
      <table class="table table-striped border-bottom">
        <thead class="light">
          <tr class="bg-primary text-white dark__bg-1000">
            {% if data.cude == '' %}
              <th class="border-0">&nbsp;</th>
            {% endif %}
            <th class="border-0">Producto</th>
            <th class="border-0 text-center">Cantidad</th>
            <th class="border-0 text-end">Base</th>
            <th class="border-0 text-end">IVA %</th>
            <th class="border-0 text-end">IVA</th>
            <th class="border-0 text-end">ICO</th>
            <th class="border-0 text-end">DESCUENTO</th>
            <th class="border-0 text-end">NETO</th>
          </tr>
        </thead>
        <tbody>
          {% for i in data.details %}
            <tr>
              {% if data.cude == '' %}
                <td>
                  <button class="btn btn-primary np_product_btn" id="{{i.code}}">
                    NC
                  </button>
                </td>
              {% endif %}
              <td class="align-middle">
                <h6 class="mb-0 text-nowrap name_product{{i.code}}">{{i.name}}</h6>
              </td>
              <td class="align-middle text-center">{{i.quantity}}</td>
              <td class="align-middle text-end">${{i.cost|floatformat:2 }}</td>
              <td class="align-middle text-end">{{i.tax_value}}%</td>
              <td class="align-middle text-end">${{i.tax|floatformat:2}}</td>
              <td class="align-middle text-end">${{i.ipo|floatformat:2}}</td>
              <td class="align-middle text-end">${{i.discount|floatformat:2}}</td>
              <td class="align-middle text-end">${{i.subtotals|floatformat:2}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-6 col-12">
        <textarea rows="5" style="resize: none;" disabled class="form-control notes" placeholder="Observaciones">{{data.note}}</textarea>
      </div>
      <div class="col-md-6 col-12 col-auto">
        <table class="table table-sm table-borderless fs--1 text-end">
          <tr>
            <th class="text-900">Subtotal:</th>
            <td class="fw-semi-bold">${{sub|floatformat:2}} </td>
          </tr>
          <tr>
            <th class="text-900">Impuestos:</th>
            <td class="fw-semi-bold">${{tax|floatformat:2}}</td>
          </tr>
          <tr>
            <th class="text-900">ICO:</th>
            <td class="fw-semi-bold">${{ipo|floatformat:2}}</td>
          </tr>
          <tr>
            <th class="text-900">Descuento:</th>
            <td class="fw-semi-bold">${{discount|floatformat:2}}</td>
          </tr>
          <!-- <tr>
            <th class="text-900">Impuesto Al Consumo:</th>
            <td class="fw-semi-bold">${{consumption_tax|floatformat:2}}</td>
          </tr> -->
          <tr class="border-top">
            <th class="text-900">Total:</th>
            <td class="fw-semi-bold">${{totals|floatformat:2}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="card-footer bg-light">
    <p class="fs--1 mb-0"><strong>CUFE: </strong><a href="https://catalogo-vpfe.dian.gov.co/document/searchqr?documentkey={{data.cufe}}" target="_blank" class="me-1 mb-2 mb-sm-0" id="downloadPdfButton">{{data.cufe}}</a></p>
    {% if data.cude is not None %}
      <p class="fs--1 mb-0"><strong>CUDE: </strong><a href="https://catalogo-vpfe.dian.gov.co/document/searchqr?documentkey={{data.cude}}" target="_blank" class="me-1 mb-2 mb-sm-0" id="downloadPdfButton">{{data.cude}}</a></p>
    {% endif %}
  </div>
</div>

<button class="btn btn-primary np_product" type="button" data-bs-toggle="modal" hidden data-bs-target="#np_product"></button>
  <div class="modal fade" id="np_product" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 500px">
      <div class="modal-content position-relative">
        <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
          <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-0">
          <div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
            <h4 class="mb-1" id="modalExampleDemoLabel">Aplicar NC a un producto</h4>
          </div>
          <div class="p-4 pb-0">
            <form>
              <div class="mb-3">
                <label class="col-form-label" for="recipient-name">Cantidad del producto que quiere quitar del producto <span class="name_product"></span>:</label>
                <input class="form-control quantity_product" id="recipient-name" type="number" />
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button>
          <button class="btn btn-primary np_product_save" type="button">Generar</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}

  <script>
    preferens_columm  = 0
    $(document).ready(function(){
      let id = null

      $('#np_product').on('shown.bs.modal', function() {
          $('.quantity_product').focus()
      });

      $(document).on('click','.np_product_btn',function(){
        id = this.id
        $(".name_product").text($(".name_product"+id).text())
        $('.np_product').click()
      })

      $(".np_product_save").click(function(){
        $.ajax({
          url: "{% url 'Annulled_Invoice_By_Product' %}",
          data: {'code':id, 'quantity': parseInt($(".quantity_product").val()),'pk_invoice':{{data.pk_invoice|safe}}},
          success: function(e){
            e = JSON.parse(e)
            console.log(e)
            location.reload(true)
          }
        })
      })
      //href="https://wa.me/?text=Aquí%20tienes%20el%20PDF%20de%20tu%20factura:%20https://evansoft.ddns.net/static/company/{{request.session.pk_branch}}/FES-{{data.prefix}}{{data.number}}.pdf"


      $(".copy_invoice").click(function(){
        id = this.id
        let screenWidth = window.screen.width;
        let screenHeight = window.screen.height;
        let windowWidth = 800; 
        let windowHeight = 600;
        let leftPosition = (screenWidth - windowWidth) / 2;
        let topPosition = (screenHeight - windowHeight) / 2;
        let params = `scrollbars=no,resizable=no,status=no,location=no,toolbar=no,menubar=no,width=${windowWidth},height=${windowHeight},left=${leftPosition},top=${topPosition}`;
        let printWindow = window.open("{{request.session.url}}/invoice/Print_Invoice/"+id, "invoice", params);
        if (printWindow) {
          printWindow.onafterprint = function () {
            printWindow.close();
          };
          printWindow.print();
        }
      })






// 004021



    });
  </script>


{% endblock %}