{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="Dc5yd_N3eSAbsxLNbqnUWMnUQXxzUkcFSCnSY7MO-Ho" />


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>EVANSOFT</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'letra.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'letra.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'letra.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'letra.ico' %}">
    <link rel="manifest" href="{% static 'assets/img/favicons/manifest.json' %}">
    <meta name="msapplication-TileImage" content="{% static 'letra.png' %}">
    <meta name="theme-color" content="#ffffff">
    <script src="{% static 'assets/js/config.js' %}"></script>
    <script src="{% static 'vendors/overlayscrollbars/OverlayScrollbars.min.js' %}"></script>
    
    <!-- SEO Metas -->
    <meta name="description" content="Evansoft es un software Contable y Administrativo para micro, pequeñas y medianas empresas. Nómina electrónica y Facturación en segundos.">
    <meta name="keywords" content="software, contable, administrativos, evansoft, aplicacion, factura, invoice, inventario, inventory, dian">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="author" content="Carlos D. Del Aguila" />
    <meta name="copyright" content="© 2024 Evansoft">
    <meta name="google" content="notranslate">
    <meta name="rating" content="general">
    <meta name="distribution" content="global">
    <meta name="revisit-after" content="7 days">


    <!-- Open Graph (OG) Metas -->
    <meta property="og:title" content="Evansoft | Software Contable y Administrativo, Ideal para Pymes">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://evansoft.ddns.net/">
    <meta property="og:image" content="https://evansoft.ddns.net/static/images/logo.png">
    <meta property="og:description" content="Evansoft es un software contable y administrativo ideal para pequeñas y medianas empresas.">

    <!-- Twitter Card Metas -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Evansoft | Software Contable y Administrativo para Pymes">
    <meta name="twitter:description" content="Evansoft es un software contable ideal para pequeñas empresas con funciones de nómina electrónica y facturación rápida.">
    <meta name="twitter:image" content="https://evansoft.ddns.net/static/images/logo.png">
    <meta name="twitter:site" content="@evansoft">


    <link rel="canonical" href="https://evansoft.ddns.net/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "SoftwareApplication",
        "name": "Evansoft",
        "description": "Software contable y administrativo ideal para Pymes.",
        "operatingSystem": "Windows, MacOS, Linux",
        "applicationCategory": "AccountingSoftware",
        "offers": {
          "@type": "Offer",
          "priceCurrency": "COP",
          "price": "150000",
          "url": "https://evansoft.ddns.net/comprar"
        }
      }
    </script>



    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="{% static 'vendors/overlayscrollbars/OverlayScrollbars.min.css" rel="stylesheet">
    <link href="{% static 'assets/css/theme-rtl.min.css' %}" rel="stylesheet" id="style-rtl">
    <link href="{% static 'assets/css/theme.min.css' %}" rel="stylesheet" id="style-default">
    <link href="{% static 'assets/css/user-rtl.min.css' %}" rel="stylesheet" id="user-style-rtl">
    <link href="{% static 'assets/css/user.min.css' %}" rel="stylesheet" id="user-style-default">
    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>
  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="container-fluid">
        <div class="row min-vh-100 flex-center g-0">
          <div class="col-lg-8 col-xxl-5 py-3 position-relative">
            <img class="bg-auth-circle-shape" src="{% static 'assets/img/icons/spot-illustrations/bg-shape.png' %}" alt="" width="250">
            <img class="bg-auth-circle-shape-2" src="{% static 'assets/img/icons/spot-illustrations/shape-1.png' %}" alt="" width="150">
            <div class="card overflow-hidden z-index-1">
              <div class="card-body p-0">
                <div class="row g-0 h-100">
                  <div class="col-md-5 text-center " style="background-color: #001e42;background-position: center;">
                    <div class="position-relative p-4 pt-md-5 pb-md-7 light">
                      <div class="z-index-1 position-relative" style="height: 100% !important; width: 100% !important;">
                          <img src="{% static 'logo_.gif' %}" style="height: 100% !important; width: 100% !important;">
                      </div>
                    </div>
                    <div class="mt-3 mb-4 mt-md-4 mb-md-5 light">
                      <p class="mb-0 mt-4 mt-md-5 fs--1 fw-semi-bold text-white opacity-75">Lee los <a class="text-decoration-underline text-white" href="#!">terminos</a> y <a class="text-decoration-underline text-white" href="#!">condiciones </a></p>
                    </div>
                  </div>
                  <div class="col-md-7 d-flex flex-center">
                    <div class="p-3 p-md-5 flex-grow-1">
                      <div class="row flex-between-center">
                        <div class="col-auto">
                          <h3>Cuenta de Ingreso</h3>
                        </div>
                      </div>
                        <div class="mb-3">
                          <label class="form-label" for="card-email">Nombre de usuario</label>
                          <input class="form-control user_name" id="card-email" autofocus type="text" />
                        </div>
                        <div class="mb-3">
                          <div class="d-flex justify-content-between">
                            <label class="form-label" for="card-password">Contraseña</label>
                          </div>
                          <input class="form-control psswd" id="card-password" type="password" />
                        </div>
                        <div class="row flex-between-center">
                          <div class="col-auto">
                            <div class="form-check mb-0">
                              <input class="form-check-input" type="checkbox" id="card-checkbox" />
                              <label class="form-check-label mb-0" for="card-checkbox">Recuerda me</label>
                            </div>
                          </div>
                          <div class="col-auto"></div>
                        </div>
                        <div class="mb-3">
                          <button class="btn btn-primary d-block w-100 mt-3 into" id="into" >Ingresar</button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'vendors/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/anchorjs/anchor.min.js' %}"></script>
    <script src="{% static 'vendors/is/is.min.js' %}"></script>
    <script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
    <script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{% static 'vendors/list.js/list.min.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>

    <script>
      $(document).ready(function(){
        Notification.requestPermission()

        var storedUserName = localStorage.getItem('user');
        var storedPassword = localStorage.getItem('psswd');

        if (storedUserName !== null) {
          console.log('Nombre de usuario encontrado en localStorage: ' + storedUserName);
          $('#card-email').val(storedUserName)
          $('#card-password').val(storedPassword)
          $('#card-checkbox').prop('checked', true)
        }

        $($('#card-password')).keypress(function(e){
          const value = parseInt($(this).val());
          const code = e.keyCode ? e.keyCode : e.which;
          console.log(code)
          if(code === 13){
            Enter()
          }
        })


        $('#card-checkbox').on('change', function() {
          if($.trim($('#card-email').val()) !== '' && $.trim($('#card-password').val()) !== ''){
            if ($(this).is(':checked')) {
              var userName = $('#card-email').val();
              localStorage.setItem('user', userName);
              localStorage.setItem('psswd', $('#card-password').val());
            } else {
              localStorage.removeItem('user');
              localStorage.removeItem('psswd');
              console.log('Nombre de usuario eliminado de la sesión');
            }
          }
          else{
            var notification = new Notification("ERROR", {
              body: "Debe tener datos en el usuario y en la contraseña"
            })
            console.log("Debe tener datos en el usuario y en la contraseña");
            $(this).prop('checked', false)
          }
        })


        $("#into").click(function(){
          Enter()
        })

        function Enter(){
          $.ajax({
            data:{"user_name":$(".user_name").val(), "psswd": $(".psswd").val()},
            success: function(e){
              e = JSON.parse(e)
              console.log(e)
              var text = e.message
              if(e.result){
                var notification = new Notification("CORRECTO", {
                  body: text
                })
                location.href="{% url 'Index' %}"
              }
              else{
                if(e.message == "Employee matching query does not exist."){
                  var notification = new Notification("ERROR", {
                    body: "Usuario o constraseña incorrecta."
                  })    
                }
                else{
                  var notification = new Notification("INFORMACIÓN", {
                    body: e.message
                  })
                }
              }
              
            }
          })
        }
      })
    </script>

  </body>

</html>